body {
    font-family:Arial, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: left; 
    align-items: left; 
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-card {
    margin: 25px;
    text-align: center;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(237, 240, 243);
}

.image-card img {
    width: 100%;
    height: auto;
    background-color: rgb(87, 146, 214);
    border-radius: 15px;
}

.image-card p {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: left; 
    align-items: left; 
}
